/* File Location: src/components/passwordModal/passwordModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #171717;
  color: white;
  border-radius: 0.625rem;
  padding: 1.25rem;
  width: 90%;
  max-width: 25rem;
  text-align: center;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3), 0 0 0.9375rem #50c878;
}

.input {
  padding: 0.625rem;
  margin: 0.625rem 0;
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.button {
  padding: 0.625rem 1.25rem;
  background-color: #50c878;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}
