/* File Location: src/components/modal/modal.module.css */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "EB Garamond", serif;
}

.modal {
  background-color: #171717;
  color: white;
  border-radius: 0.625rem;
  padding: 1.25rem;
  width: 90%;
  max-width: 25rem;
  position: relative;
  text-align: center;
  box-shadow: 0 0 1rem rgba(30, 120, 60, 0.5), 0 0 1.5rem #1e783c;
  animation: glow 1.5s infinite alternate;
  font-family: "EB Garamond", serif;
}

.closeButton {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  font-family: "EB Garamond", serif;
}

.content {
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
}

@keyframes glow {
  from {
    box-shadow: 0 0 0.5rem rgba(30, 120, 60, 0.5), 0 0 1rem #1e783c;
  }
  to {
    box-shadow: 0 0 1rem rgba(30, 120, 60, 0.7), 0 0 2rem #1e783c;
  }
}
