/* File Location: src/app/page/page.module.css */

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  gap: 0.625rem;
  background-color: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1.25rem;
  text-align: center;
  margin-top: 1.25rem;
}

.heading {
  font-size: 2.5rem;
  color: var(--blue);
  font-family: "Georgia", serif;
  margin-bottom: 0.625rem;
}

.text {
  font-size: 1.2rem;
  color: var(--gray);
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}

.rsvpButton {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  color: var(--white);
  background-color: var(--green);
  border: none;
  border-radius: 0.3125rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rsvpButton:hover {
  background-color: var(--dark-green);
}

/* Responsive Design */
@media (max-width: 48rem) {
  .main {
    padding: 0.625rem;
    margin-top: 0.625rem;
    gap: 1rem;
  }

  .heading {
    font-size: 2rem;
  }

  .text {
    font-size: 1rem;
  }

  .rsvpButton {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
  }
}

@media (max-width: 30rem) {
  .main {
    padding: 0.5rem;
    gap: 0.75rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .rsvpButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
