/* File Location: src/components/navbar/navbar.module.css */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

/* Adjust Navbar for Mobile View */
@media (max-width: 48rem) {
  .navbar {
    justify-content: flex-start;
    position: relative;
  }
}

/* Full Navbar List for Desktop View */
.navListDesktop {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Hidden by Default in Mobile View */
.navListClosed {
  display: none;
}

/* Visible Dropdown Menu in Mobile View */
.navListOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.125rem;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 1.25rem;
  list-style: none;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  margin: 0;
}

/* Navbar Items */
.navItem {
  font-size: 1rem;
  text-align: center;
  padding: 0.625rem 0;
  color: white;
  border-bottom: 0.0625rem solid #444;
}

.navItem:last-child {
  border-bottom: none;
}

.navItem a {
  text-decoration: black; /* Remove underline from links */
  color: inherit; /* Keep the color consistent with the parent */
}

/* Menu Button for Mobile */
.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 0.625rem;
}

.menuButton img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Display Menu Button in Mobile View */
@media (max-width: 48rem) {
  .menuButton {
    display: block;
    position: absolute;
    left: 0.625rem;
  }

  .navListDesktop {
    display: none;
  }
}
