/* File Location: src/components/footer/footer.module.css */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

.footer {
  background-color: #1e783c;
  color: var(--white);
  text-align: center;
  padding: 1.25rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3), 0 0 0.9375rem #1e783c;
  font-family: "EB Garamond", serif;
}

.footer p {
  margin: 0.3125rem 0;
  font-size: 1.2rem;
}

.divider {
  border: none;
  height: 0.0625rem;
  background-color: white;
  margin: 0.625rem auto;
  width: 5%;
}
