.settings {
    background-color: var(--white);
    border: 2px solid var(--pink);
    padding: 20px;
    border-radius: 10px;
  }
  
  .settingsButton {
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .settingsButton:hover {
    background-color: var(--pink);
    color: var(--green);
  }
  